 h1{

 font-family:Impact, Charcoal, sans-serif;
 colour:#bf00ff;
}

 h2{
 font-family:Impact, Charcoal, sans-serif;
 colour:#bf00ff;
}



 body{
 background-image:url("http://kb4images.com/images/free-background-images/37744002-free-background-images.jpg");
 background-colour:#936c6c;
}


