h1{

font-family:Impact, Charcoal, sans-serif;
colour:#bf00ff;
}

h2{
font-family:Impact, Charcoal, sans-serif;
colour:#bf00ff;
}

p{
font-family:Impact, Charcoal, sans-serif;
}

body{
background-colour:#936c6c;
}


